---
import { flotiq } from "../lib/flotiq";

const posts = await flotiq.BlogpostAPI.list();
---
<html lang="en">
	<head>
		<title>Astro</title>
	</head>
	<body>
		{posts.data?.map((post) => (
			<section>
				<a href={`/posts/${post.slug}`}>
					<h2>{post.title}</h2>
				</a>
				<div>{ post.internal?.createdAt }</div>
				<div set:html={post.content}/>
			</section>
		))}
	</body>
</html>
